<html>
  {{template "header.tmpl.html"}}
<body>

<div class="jumbotron text-center" style="height: 100%;">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/static/lang-logo.png">
    </a>
    <h1>Homework Server Deployment CI/CD using GitHub Actions</h1>
      <p>There are two endpoints for this homework :</p>
      <a type="button" class="btn btn-lg btn-default" href="https://gobasicapi.herokuapp.com/followers/SammyShark"><span class="glyphiconglyphicon-flash"></span> https://gobasicapi.herokuapp.com/followers/username
      </a>
      <a type="button" class="btn btn-lg btn-primary" href="https://gobasicapi.herokuapp.com/sammy"><span class="glyphiconglyphicon-download"></span> https://gobasicapi.herokuapp.com/userid</a>
      <br><br>
      <p>Created with &#129505 by Adam </p>
  </div>
</div>

</body>
</html>
